<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"

>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>가맹점 사용자 임시 테스트</title>
</head>
<body>
<h1>Main PAGE</h1>

</body>
<script>
    const url = "http://localhost:8081/api/sse/connect" // 접속 주소
const eventSource = new EventSource(url); // sse 연결

eventSource.onopen = event =>{
console.log("sse connection");
console.log(event);
}
eventSource.onmessage = event =>{
console.log("receive data : " + event.data);
}
</script>
</html>